<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <span class="font-semibold text-lg">
            Create manager
        </span>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">

        <form [formGroup]="createManagerForm" class="w-full">

            <!-- Username -->
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                <mat-label>Username</mat-label>
                <input matInput [formControlName]="'username'" />
            </mat-form-field>

            <div class="grid grid-cols-2 gap-3 w-full mb-3">
                <!-- Password -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControlName]="'password'" />
                </mat-form-field>

                <!-- Confirm -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Confirm</mat-label>
                    <input matInput type="password" [formControlName]="'confirmPassword'" />
                </mat-form-field>
            </div>

            <div class="grid grid-cols-2 gap-3 w-full mb-3">
                <!-- Name -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [formControlName]="'name'" />
                </mat-form-field>

                <!-- Gender -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Gender</mat-label>
                    <mat-select (selectionChange)="onGenderChange($event.value)">
                        <mat-option value="Nam">Nam</mat-option>
                        <mat-option value="Nữ">Nữ</mat-option>
                        <mat-option value="Khác">Khác</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Phone -->
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                <mat-label>Phone</mat-label>
                <input matInput type="text" [formControlName]="'phone'" />
            </mat-form-field>

            <div class="flex justify-end">
                <!-- Submit button -->
                <button mat-raised-button [color]="'primary'" (click)="createManager()">
                    <span>Create</span>
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                </button>
            </div>

        </form>
    </div>

</div>